</div>
<div class="footer-padding">
    <div class="footer">
        <p class="footercontent">Designed and Developed by Chandan Dhamande<br>•All Rights Reserved</p>
        
    </div>
</div>
</body>
</html>